.WrapperProductos{
    width: 25%;
    background-color: #ffff;
    text-align: center;
    border-radius: 20px;
    margin: 2rem 0;
}
.TitlePro{
    background-color: #FFC300;
    color:#ffff;
    font-size: 40px;
    font-weight: 500;
    border-radius: 20px;
    margin: 0;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.ContainerListaPro{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content:space-between;
}
.ListaProdu{
    width: 100%;
    color:#001D3D;
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}