<footer class="footer">
    <section>
        <div class="icon-footer">
            <i class="fas fa-hamburger"></i>
        </div>
        <h1>footer</h1>
        <a href="/products/newProduct"><h3>Agregar producto</h3></a>
    </section>
</footer>