<footer class="footer">
    <section class="section-footerTop">
          <a href="#" class="footerTop">Inicio de página</a>
    </section>
    <section class="section-footer-about">
        <div><p>Nosotros</p></div>
        <div>
            <% if(locals.userLogged.Admin) {%>
            <p><a href="/products/newProduct/">Agregar producto</a></p>
            <% } else{ %>
                <p><a href="#">Metodos de pagos</a></p>
                <% }  %>
        </div>
        <div>
            <% if(locals.userLogged.Admin) {%>
            <p><a href="/users/userProfile/">Listado de Usuario</a></p>
            <% } else{ %>
                <p><a href="#">Envios</a></p>
               <% }  %>
        </div>
        <div><p>Seguridad</p></div>
    </section>
    <section class="section-icon-footer">
        <div>
            <img src="/img/Rogers-logo(amarrillo).png" class= "logo-footer" alt="logo"></a>
        </div>
       <span>
        <div class="icon-footer">
            <i class="fab fa-facebook-f"></i>
        </div>
        <div class="icon-footer">
            <i class="fab fa-instagram"></i>
        </div>
        <div class="icon-footer">
            <i class="fab fa-whatsapp"></i>
        </div>
       </span>
    </section>
    <section class="section-footer-Copyight">
        <p>Condiciones de uso</p>
        <p>Aviso de privasidad</p>
        <p>Copyright © 1999-2020 Rogers</p>
    </section>
</footer>