<header>
    <div class="main-header">
            <div class="left-navbar">
                <i class="fas fa-bars"></i>
                <a href="/"><img src="/img/Rogers-logo(amarrillo).png" class= "logo" alt="logo"></a>
            </div>
            <div class="center-navbar">
                <input type="checkbox" id="check">
                <!-- <div class="search-box">
                    <input type="text" name="ggg" placeholder="Type here...">
                    <label for="check" class="icon-search">
                        <a href="/products/productList"><i class="fas fa-search"></i>
                    </label>
                </div> -->
                <form  action="/products/searchProduct" method="get"  >
                    <div class="search-box">
                    <input type="text" name="search" placeholder="Type here...">
                    <label for="check" class="icon-search">
                        <button class="btn-search" type="submit"><i class="fas fa-search"></i></button>
                    </label>
                    </div>
                </form>
            </div>   
            <div class="right-navbar">
                <ul class="option-navbar">
                    <li><a href="#"><p>Nosotros</p></a></li>
                    <li><a href="/#menu"><p>Menu</p></a></li>
                    <li><a href="/products/shopping-cart"><i class="fas fa-shopping-cart"></i><p>Carrito</p></a></li>
                    <li>
                        <a href="/users/login">
                            <i class="fas fa-user"></i>
                            <% if(locals.isLogged) {%>
                                <p><%= locals.userLogged.name %></p>
                            <% }else{ %>
                                <p>Iniciar Sesión</p>
                            <% } %>
                        </a>
                    </li>
                </ul>
            </div>
    </div>
    
</header>