<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width">
    <title>Rogers</title>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Teko:wght@300;400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css"> 
    <link rel="stylesheet" href="/css/styles.css"> 
    <script src="https://kit.fontawesome.com/a08ed63178.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <div class="main-header">
            <div class="left-navbar">
                <i class="fas fa-bars"></i>
                <a href="/"><img src="/img/Rogers-logo(amarrillo).svg" class= "logo" alt="logo"></a>
            </div>
            <div class="right-navbar">
                <ul class="option-navbar">
                    <li><a href="#"><p>Nosotros</p></a></li>
                    <li><a href="/#menu"><p>Menu</p></a></li>
                    <li><a href="/shopping-cart"><i class="fas fa-shopping-cart"></i><p>Carrito</p></a></li>
                    <li><a href="/login"><i class="fas fa-user"></i><p>Iniciar Sesión</p></a></li>
                </ul>
            </div>
        </div>
    </header>
    <main>
        <!-- <img src="/img/back-register.png" class= "background" alt="background"> -->
        <div class="iniciar-sesion">
            <p class="title-register">Iniciar Sesión</p>
            <form class="form" action="">
                <input type="email" name="email" placeholder="Correo electrónico">
                <input type="password" name="password" placeholder="Contraseña">
                <button type="submit">Aceptar</button>
            </form>
        </div>
        <div class="register-back">
            <img src="/img/back-login.png" class= "background-login" alt="background">
        </div>
    </main>
    <footer class="footer">
        <section>
            <div class="icon-footer">
                <i class="fas fa-hamburger"></i>
            </div>
            <h3>footer</h3>
        </section>
    </footer>
</body>
</html>