.WrapperCate{
    width: 25%;
    background-color: #ffff;
    text-align: center;
    border-radius: 20px;
    margin: 2rem 0;
}
.TitleCate{
    background-color: #001D3D;
    color:#ffff;
    font-size: 40px;
    font-weight: 500;
    border-radius: 20px;
    margin: 0;
    padding: 1rem 0;
    margin-bottom: 2rem;
}
.SubtitleCate{
    color:#001D3D;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
}
.NumberCate{
    background-color:#FFC300;
    color:#ffff;
    font-size: 30px;
    font-weight: 500;
    margin: 0 auto;
    border-radius: 20px;
    width: fit-content;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
}