<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../head') %>
</head>
<body>
    <header>
        <%- include('../header') %>
    </header>
    <main>
        <!-- <img src="/img/back-register.png" class= "background" alt="background"> -->
        <div class="iniciar-sesion">
            <p class="title-register">Iniciar Sesión</p>
            <form class="form" action="">
                <input type="email" name="email" placeholder="Correo electrónico">
                <input type="password" name="password" placeholder="Contraseña">
                <button type="submit">Aceptar</button>
            </form>
        </div>
        <div class="register-back">
            <img src="/img/back-login.png" class= "background-login" alt="background">
        </div>
    </main>
    <footer>
        <%- include('../footer') %>
    </footer>
</body>
</html>