<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../head') %>
</head>
<body>
    <header>
        <%- include('../header') %>
    </header>
    <main>
        <div class="new-product">
            <p class="title-new-product">Nuevo producto</p>
                <form class="form-1" action="">
                    <label for="name">Nombre del producto</label><br>
                    <input type="text" name="name" id="name"><br>
                    <label for="price">Precio</label><br>
                    <input type="number" name="price" id="name"><br>
                    <label for="name">Descripción</label><br>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea><br>
                    <label for="category">Categoria</label><br>
                    <select name="category" id="category">
                        <option value="">Entradas</option>
                        <option value="in-sale">Por lo que vienes</option>
                        <option value="visited">Postres</option>
                    </select><br>
                    <label for="image" class="form-label">Imagen:</label><br>
                    <input type="file" id="image" name="image" accept="image/png, image/jpeg">
        </div>
        <footer>
            <%- include('../footer') %>
        </footer>
    </main>
</body>
</html>