<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>

        
        <p>Foto de perfil</p>
        <p>Datos del usuario</p>
        <p>Cerrar Sesion</p>

        
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>