<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <header>
        <%- include('../partials/header') %>
    </header>
    <main>
        <div class="order">
            <p class="title-order">Orden</p>
            <div class="element-order">
                <img src="/img/img-papas-francesas.jpg" class= "photo-element" alt="logo-home">
                <div class="body-element">
                    <p class="name-element">Papas a la francesa</p>
                    <form action="">
                        <button type="submit" class="button"><i class="fas fa-plus"></i></button>
                        <label class="quantity">1</label>
                        <button type="submit" class="button"><i class="fas fa-minus"></i></button>
                    </form>
                </div>
                <p class="price-element">$49.00</p>
            </div>
            <div class="element-order">
                <img src="/img/img-aros-cebolla.jpg" class= "photo-element" alt="logo-home">
                <div class="body-element">
                    <p class="name-element">Aros de Cebolla</p>
                    <form action="">
                        <button type="submit" class="button"><i class="fas fa-plus"></i></button>
                        <label class="quantity">1</label>
                        <button type="submit" class="button"><i class="fas fa-minus"></i></button>
                    </form>
                </div>
                <p class="price-element">$69.00</p>
            </div>
            <div class="element-order">
                <img src="/img/img-alitas.png" class= "photo-element" alt="logo-home">
                <div class="body-element">
                    <p class="name-element">Alitas</p>
                    <form action="">
                        <button type="submit" class="button"><i class="fas fa-plus"></i></button>
                        <label class="quantity">1</label>
                        <button type="submit" class="button"><i class="fas fa-minus"></i></button>
                    </form>
                </div>
                <p class="price-element">$49.00</p>
            </div>
            <p class="subtitle-order">Domicilio</p>
            <div class="part-order">
                <i class="fas fa-map-marker-alt"></i>
                <p class="body-part">Calz Cipreses Cd Granja 189, Granja, 45010 Zapopan, Jal.</p>
                <form action="">
                    <button type="submit" class="button">Cambiar</button>
                </form>
            </div>
            <p class="subtitle-order">Pago</p>
            <div class="part-order" id="pago">
                <i class="fab fa-cc-mastercard"></i>
                <p class="body-part">Mastercard que termina en 2193.</p>
                <form action="">
                    <button type="submit" class="button">Cambiar</button>
                </form>
            </div>
        </div>
        <div class="final-payment">
            <p class="subtotal">Subtotal</p>
            <p class="qty-subtotal">$338.00</p>
            <p class="shipping">Envio</p>
            <p class="qty-shipping">$12.00</p>
            <p class="total">Total</p>
            <p class="qty-total">$450.00</p>
            <form action="">
                <button type="submit" class="finish">Pagar</button>
            </form>
        </div>
    </main>
    <footer>
        <%- include('../partials/footer') %>
    </footer>
</body>
</html>